:root{
    --offWhite: #F5F3F5;
    --offBlack: #111111;
    --darkGray: #231F20;

    --darkBlue: #141B41;
    --yellow: #FFBD11;
    --darkYellow: #6B4D00;
    --red: #F04C34;
}

body{
    background-color: red;
}