:root{
    --offWhite: #F5F3F5;
    --offBlack: #111111;
    --darkGray: #231F20;

    --darkBlue: #141B41;
    --yellow: #FFBD11;
    --darkYellow: #CC9200;
    --red: #F04C34;

    --siteHorizonalPadding: 20px;
    --siteContentWidth: 1140px;
}

body{
    background-color: var(--offWhite);
}