// Variables
////////////////////////////////////////////////

:root{
    --offWhite: #F5F3F5;
    --offBlack: #111111;
    --darkGray: #231F20;

    --darkBlue: #141B41;
    --darkestBlue: #060b23;
    --yellow: #FFBA0A;
    --darkYellow: #CC9200;
    --red: #F04C34;

    --primaryFont: 'Mukta', sans-serif;;

    --siteHorizonalPadding: 20px;
    --siteContentWidth: 1100px;
    --siteContentWidthWide: 1420px;

    --siteBoxShadow: 5px 5px 20px #1b1e264d;
}

// Site Base
////////////////////////////////////////////////

*{
    box-sizing: border-box;
}


body{
    background-color: var(--offWhite);
    color: var(--darkGray);
    font-family: var(--primaryFont);

    *{
        color: var(--darkGray);
        font-family: var(--primaryFont);
    }

}

.site-main{
    padding: 0px var(--siteHorizonalPadding);

    &.wide{

        .site-main__inner{
            max-width: var(--siteContentWidthWide);
        }

    }

    &__inner{
        margin: 60px auto;
        max-width: var(--siteContentWidth);
        width: 100%;

        &.sidebar-layout{
            >div{
                display: flex;
                align-items: flex-start;
            }
        }

    }

}

// Helper Classes
////////////////////////////////////////////////

.screen-reader-text{
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

// Base Typography
////////////////////////////////////////////////

body{
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6{
        font-family: var(--primaryFont);
        line-height: 1.2;
        font-weight: 600;
    }
    
    h1,
    .h1{
        margin: 0px;
        font-size: 48px;
    }
    
    h2,
    .h2{
        margin: 10px 0px 20px;
        font-size: 32px;
    }
    
    h3,
    .h3{
        margin: 10px 0px;
        font-size: 28px;
    }
    
    h4,
    .h4{
        margin: 10px 0px;
        font-size: 24px;
    }
    
    p{
        margin: 24px 0px;
        font-family: var(--primaryFont);
        font-size: 18px;
    }

    a{
        color: var(--yellow);
        transition: color 0.3s ease-in;

        &:hover,
        &:focus{
            color: var(--darkYellow);
        }
    }

    .btns-contain{
        margin: 24px 0px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    
        &.center{
            justify-content: center;
        }
    
        &.right{
            justify-content: flex-end;
        }
    
    }

    .btn{
        &__link{
            display: block;
            padding: 8px 20px;
            font-size: 18px;
            font-weight: 600;
            background-color: var(--yellow);
            border: initial;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease-in;

            &:hover,
            &:focus{
                background-color: var(--darkYellow);
            }

        }
    }

    @media all and (max-width: 768px) {
        h1,
        .h1{
            font-size: 40px;
        }

        h2,
        .h2{
            font-size: 28px;
        }

        h3,
        .h3{
            font-size: 24px;
        }

        h4,
        .h4{
            font-size: 21px;
        }
    }

}

// Base Images
////////////////////////////////////////////////

img{
    width: auto;
    max-width: 100%;
}