.leaderboard-grid{
    margin: 50px 0px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @media all and (max-width: 991px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media all and (max-width: 576px) {
        grid-template-columns: 1fr;
    }
}