.fg-char-select{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--darkBlue);
    box-shadow: var(--siteBoxShadow);

    &.active{
        display: block;
    }

    ul{
        padding: 0px;
        margin: 0px;
        list-style-type: none;
    }

    li{
        &:not(:last-of-type){
            border-bottom: 1px solid var(--offWhite);
        }
    }

}