.fg-char-select-btn{
    display: block;
    width: 100%;
    border: none;
    background-color: var(--darkBlue);
    color: var(--offWhite);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}