.fg-char-select-btn{
    display: block;
    width: 100%;
    border: none;
    background-color: var(--darkBlue);
    color: var(--offWhite);
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover,
    &:focus{
        background-color: var(--darkestBlue);
    }

}