.fg-contain{
    padding: 0px var(--siteHorizonalPadding);
    width: 100%;

    &__inner{
        max-width: var(--siteContentWidth);
        margin: 0 auto;
    }

    .fg-title{
        text-align: center;
    }

}