.fg-sidebar{
    flex: 0 0 300px;
    padding: 12px;
    position: sticky;
    top: 16px;
    left: 0;
    background-color: var(--darkBlue);

    * {
        color: var(--offWhite);
    }

    &__title{
        font-size: 28px;
        font-weight: 700;
    }

}