.level-select-cta{
    border: 0px;
    padding: 0px;
    background-color: initial;
    cursor: pointer;

    span{
        display: block;
        margin: 10px 0px 0px;
        font-size: 20px;
        font-weight: 700;
    }

}